<!DOCTYPE html>

<title>DossierLab index</title>

{% block body %}
    <h1>DossierLab index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier_lab in dossier_labs %}
            <tr>
                <td>{{ dossier_lab.id }}</td>
                <td>
                    <a href="{{ path('dossier_lab_show', {'id': dossier_lab.id}) }}">show</a>
                    <a href="{{ path('dossier_lab_edit', {'id': dossier_lab.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dossier_lab_new') }}">Create new</a>
{% endblock %}
