{% extends 'tempAdmin/adminbase.html.twig' %}
{% block title %}
{% endblock %}
{% block content %}
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="row" style="margin-left: 2%;margin-right: 2%">
                    <table class="table table-striped form-horizontal" style="margin-top: 1%">
                        <h1>Voici votre profile</h1>
                        <a href="{{ path('patient_index') }}">Retourner a la liste</a>
                        {{ include('tempAdmin/Patient/_form.html.twig', {'button_label': 'Modifier votre profil'}) }}
                        {{ include('tempAdmin/Patient/_delete_form.html.twig') }}
                    </table>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
