{% extends 'tempAdmin/adminbase.html.twig' %}

{% block content %}
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="row" style="margin-left: 2%;margin-right: 2%">
                    <table class="table form-horizontal" style="margin-top: 1%">
                        <h2 style="font-family: Helvetica Neue">Ajouter un Patient</h2>
                        <a href="{{ path('patient_index') }}" style="float: right"><button class="btn btn-theme start "> Retourner a la liste</button></a>
                        {{ include('tempAdmin/Patient/_form.html.twig') }}
                    </table>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
