{% extends 'tempAdmin/adminbase.html.twig' %}
{% block title %} E-Health{% endblock %}
{% block content %}
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="row" style="margin-left: 2%;margin-right: 2%">
                    <h4> Liste des medicaments </h4>
                    <a href="{{ path('medicament_new') }}">
                        <button class="btn btn-theme">Ajouter un medicament</button>
                    </a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for medicament in medicaments %}
                            <tr>

                                <td>{{ medicament.nom }}</td>
                                <td>
                                    <a href="{{ path('medicament_edit', {'id': medicament.id}) }}">
                                        <button class="btn btn-theme04 delete">Mettre a jour</button>
                                    </a>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">pas de medicament</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation" style="align-content: center">
                        {{ knp_pagination_render(medicaments) }}
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
