{% extends 'tempAdmin/adminbase.html.twig' %}

{% block content %}
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="row" style="margin-left: 2%;margin-right: 2%">

                    <table class="table form-horizontal" style="margin-top: 1%">

                        <h1>Creer une Medicament</h1>
                        <a href="{{ path('medicament_index') }}" style="float: left">
                            <button class="btn btn-theme start "> Retourner a la liste</button>
                        </a>

                        {{ include('tempAdmin/medicament/_form.html.twig') }}
                    </table>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
