{% extends 'tempClient/Laboratoire/acceuilLab.html.twig' %}
{% block content %}
    <section id="home">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row homeCustom">
                    <div class="caption">
                        <div class="container">
                            <h1>bienvenu {{ data.nom}} !</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


