{% extends 'tempAdmin/adminbase.html.twig' %}
{% block title %} E-Health{% endblock %}
{% block content %}
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="row" style="margin-left: 2%;margin-right: 2%">
                    <h4> Liste des specialité disponible </h4>
                    <a href="{{ path('specialite_new') }}"><button class="btn btn-theme">Ajouter une nouvelle specialité</button></a>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nom de specialité</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for specialite in specialites %}
                            <tr>
                                <td>{{ specialite.nomSpec }}</td>
                                <td>
                                    <a href="{{ path('specialite_edit', {'id': specialite.id}) }}"><button class="btn btn-theme04 delete">Mettre a jour cette specialité</button></a>
                                </td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">pas de specialité</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation" style="align-content: center">
                        {{ knp_pagination_render(specialites) }}
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
